/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('/src/assets/background_pf.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Contenedor principal */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Contenedor del formulario */
.form-container {
    background-color: #4B8E8D;
    padding: 40px;
    border-radius: 20px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.register-form {
    background-color: #4B8E8D;
}

/* Título del formulario */
.form-title {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 20px;
}

.register-title {
    font-size: 2.5rem;
}

/* Campos del formulario */
.form-group input, .form-group select {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #4B8E8D;
    color: white;
    outline: none;
}

.form-group input::placeholder, .form-group select::placeholder {
    color: #ffffff;
    opacity: 0.8;
}

/* Selector de tipo de usuario */
.register-input {
    background-color: #4B8E8D; /* Fondo del selector */
    color: white; /* Color del texto */
    border: 2px solid #ffffff; /* Borde blanco */
    border-radius: 8px; /* Esquinas redondeadas */
    padding: 10px;
    font-size: 1rem;
    appearance: none; /* Elimina el estilo predeterminado del navegador */
    cursor: pointer;
}

/* Estilo del selector en foco */
.register-input:focus {
    border-color: #FFA629; /* Cambia el color del borde al enfocarse */
    outline: none;
}

/* Botones */
.form-button {
    background-color: #FFA629;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #f32d09fd;
}

.form-button-google {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #FFA629;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.form-button-google:hover {
    background-color: #f32d09fd;
}

.google-icon {
    width: 20px;
    margin-right: 10px;
}

/* Opciones adicionales */
.extra-options {
    margin-top: 10px;
    font-size: 0.9rem;
    color: white;
}

.extra-options a {
    color: #FFA629;
    text-decoration: none;
}

.extra-options a:hover {
    text-decoration: underline;
}
